binance==0.3
certifi==2023.7.22
yfinance==0.2.31
charset-normalizer==3.3.1
colorama==0.4.6
contourpy==1.2.0
cycler==0.12.1
fonttools==4.44.0
idna==3.4
kiwisolver==1.4.5
matplotlib==3.8.1
numpy==1.26.1
packaging==23.2
panda==0.3.1
pandas==2.1.2
pandas-ta==0.3.14b0
peewee==3.17.0
Pillow==10.1.0
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
setuptools==68.2.2
six==1.16.0
tqdm==4.66.1
tzdata==2023.3
urllib3==2.0.7
webencodings==0.5.1
